body {
  background-color: rgb(172, 227, 167);
}

h1 {
  font-family: "Lavishly Yours", cursive;
  font-size: 55px;
}

.interest {
  width: 200px;
  height: 100px;
  background-color: #0cc1ea;
  padding: 20px;
  padding: 10px 20px;
  padding-top: 10px;
  word-spacing: 1rem;
  border: 2px solid #333;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  margin-bottom: 40px;
}

.glorp {
  width: 250px;
}

.lmao {
  font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
}

.alien {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 45px;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}

.lmao2 {
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-size: 25px;
  font-style: normal;
}

.lavishly-yours-regular {
  font-family: "Lavishly Yours", cursive;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 45px;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}
