body {
  background-color: rgb(186, 245, 187);
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Lavishly Yours", cursive;
  font-size: 90px;
}

.um {
  background: center / contain no-repeat
    url("https://cdn.7tv.app/emote/01HMBEZHE80007XJVZXHQA9P8P/4x.png");
  display: flex;
  height: 700px;
  align-items: center;
  justify-content: center;
  font:
    bold calc(1em + 2 * (100vw - 120px) / 90) "Bitcount Prop Double Ink",
    system-ui;
  color: #ff0083;
  text-shadow: black 2px 2px 0.2rem;
}

/* .bitcount-prop-double-ink {
  font-family: "Bitcount Prop Double Ink", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
} */

/* .waiting-for-the-sunrise-regular {
  font-family: "Waiting for the Sunrise", cursive;
  font-weight: 400;
  font-style: normal;
} */

.info2 {
  display: flex;
  justify-content: space-around;
}

.interest {
  width: 400px;
  height: 200px;
  background-color: #0cc1ea;
  padding: 20px;
  padding: 10px 20px;
  padding-top: 10px;
  /* word-spacing: 1rem; */
  border: 2px solid #333;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px auto;
  margin-bottom: 40px;
}

.glorp {
  width: 250px;
}

.lmao-div {
  display: flex;
  align-items: end;
  align-content: center;
  justify-content: center;
}

.formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 30px; */
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
}

.lmao {
  font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
}

.alien {
  display: flex;
  justify-content: center;
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  text-decoration: none;
  font-size: 45px;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}

.lmao2 {
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-size: 25px;
  font-style: normal;
}

.lavishly-yours-regular {
  font-family: "Lavishly Yours", cursive;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 45px;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #30e733;
  color: white;
  align-items: center;
  align-content: center;
}

.footer-img {
  height: 158px;
}

.footer-p {
  font-family: "Waiting for the Sunrise", cursive;
  font-size: 50px;
  padding-left: 30px;
}
